<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet", href = "/static/styles.css">
    </head>
    <body id="body" background="/static/abg.png", style="background-position: center;">
            <header id="header">
                <a href="/home">
                    <button id = "userButton", type="button"></button>
                </a>
                <a href="/tickets">
                    <button id="ticketButton", type="button"></button>
                </a>
               Ghost Gang Official Ticket Selling Page
               <a href="/admin">
                    <button id="adminButton", type="button"></button>
               </a>
        <h2 id="h2">What do you want to do?</h1>
        <table id="table">
            <th>Create Match</th>
            <th>Delete Match</th>
        </header>
            <tr>
                <td>
                    <a href="/create">
                        <button id="createMatch", type="button", class="button", style="color: white;">Click here to <b>Create Match</b></button>
                    </a>
                </td>
                <td>
                <a href="/delete">
                    <button id="deleteButton", type="button", class="button", style="color: white;">Click here to <b>Delete Match</b></button>
                </a>
                </td>
            </tr>
        </table>
    </body>
</html>