#header {
    background-color: rgb(34, 0, 255);
    top: 0;
    padding: 8px;
    font-size: 36px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#body{
    background-color: rgb(0, 85, 255, 0.3);
    background-repeat: repeat;

}

#h1, #h2{
    text-align: center;
}


#userButton{
    left: 0;
    background-color: rgb(34, 0, 255);
    top: 0;
    font-size: 24px;
    width: 40px;
    height: 40px;
    float: left;
    border: none;
    background-image: url(home.png);
    background-position: center;
    background-repeat: no-repeat;
}

#ticketButton{
    left: 45;
    background-color: rgb(34, 0, 255);
    top: 0;
    font-size: 24px;
    width: 40px;
    height: 40px;
    float: left;
    border: none;
    background-image: url(ticket.png);
    background-position: center;
    background-repeat: no-repeat;
}

#adminButton{
    right: 0;
    background-color: rgb(34, 0, 255);
    top: 0;
    font-size: 24px;
    width: 40px;
    height: 40px;
    float: right;
    border: none;
    background-image: url(admin.png);
    background-position: center;
    background-repeat: no-repeat;
}

#userButton:hover, #adminButton:hover, #ticketButton:hover{
    background-color: rgb(20, 0, 150);
}

.button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgba(20, 0, 150, 0.0)
}

.button:hover{
    color: white;
    background-color: rgba(20, 0, 150, 0.5);
    background-image: url(button.gif);
}

#table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


th, tr, td{
    width: 500px;
    border: solid black 2px;
    text-align: center;
}

th{
    background-color: rgb(34, 0, 255);
    color: white;
}

#sectorInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

body, html {
    height: 100%;
    width: 100%; /* Or set a specific width */
}
body {
    display: flex;
    margin: 0;
    flex-direction: column;
}
#buying, #success{
    margin: auto;
}

#easteregg {
    position: relative;
    width: 100%; /* Or set a specific width */
    height: 300px; /* Set a height for the container */
}
#eastereggbutton, #eastereggbutton_always{
    position: absolute;
    bottom: 10px;
    right: 150px;
    width: 135px;
    height: 135px;
    background: transparent;
    border: none;
}
#eastereggbutton:hover, #eastereggbutton_always{
    background-image: url(/static/fbbg.gif);
    background-position: center;
}


#tickets{
    background-color: rgb(20, 0, 150, 0.2);
    color: white;
    width:min-content;
    align-self: center;
}
